<div class="content">
	<p>
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<span>d6TextRPG</span>
		
				<span class="example-spacer"></span>
		
				<button mat-button>About</button>
				<button mat-button>Services</button>
				<button mat-button>Contact</button>
	
			</mat-toolbar-row>
		</mat-toolbar>
	</p>

	<p>
		<mat-card>
			<mat-form-field>
				<input matInput [(ngModel)]="answer" placeholder="Who has the best dev tutorials?">
			</mat-form-field><br>
			<button mat-raised-button (click)="showAnswer()">Answer me</button>
			<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
		</mat-card>
	</p>

	<p>
		<mat-card *ngIf="answerDisplay">
			<h1>{{ answerDisplay }}, you're damn right!</h1>
		</mat-card>
	</p>

	<p>
		<app-tag-drop-down [id]="'buildingType'" 
			[collection]="'buildings'" 
			[attrib]="'type'" 
			(selectionChange)="selectChanged($event)">
		</app-tag-drop-down>
	</p>

	<p>
		<mat-card>
			<h3>Players</h3>
			<ul *ngFor="let player of players | async" class="collection">
				<li class="collection-item">{{player.handle}}: {{player.name}}</li>
			</ul>
		</mat-card>
	</p>

	<app-user-login></app-user-login>
	<router-outlet></router-outlet>
</div>
